@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); /* 웹 폰트 Noto Sans KR(korea) 가져오기 */

/* 전체 초기화*/
* {
    margin: 0;
    padding: 0;
}


/* 여기서 부터는 데스크탑, 모바일 공통으로 적용되는 부분 */
body {
    background-color: #808080; /* 전체 바디 백그라운드 컬러 50% 그레이 */
    color: #595959; /* 웹 페이지 전체 텍스트 색깔 진한 회색 */
    font-family: 'Noto Sans KR', sans-serif; /* 웹에서 쓸 폰트 지정 */
    font-size: 100%; /* 기본 폰트 사이즈 100% */
}

/* 링크 텍스트 스타일 */
a { 
    text-decoration: none; /* 링크 텍스트 데코레이션 없음 */
    color: aliceblue;
}

/* 전체 이미지에 적용 */
img {
    width: 100%; /* 이미지 크기는 이미지를 둘러싼 블록 영역의 100%, 블록(div)이 커지면 이미지도 커진다. */
}

p {
    padding: 0.25em;
    font-size: 0.9em;
}

#article p {
    text-align: justify; /* article 안에 있는 문단은(만)) 양쪽 정렬 */
}

#article h2 {
    padding: 0.75em 0; /* article 안에 있는 h2의(만) 패딩 값 */
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    padding: 2em;
}

h2 {
    text-align: center;
    font-weight: 300;
}

ol {
    list-style: none;
}

#nav ol li {
    width: 170px;
    text-align: center;
    color: aliceblue;
    float: right;
    padding: 1em;
}

#frame {
    background-color: #FFFFFF;
    max-width: 1920px; /* 최대 너비 1920픽셀 */
    width: 100%;
    margin: 0 auto; 
}

#nav {
    background-color: #292929;
    border-bottom: 1px solid #A9A9A9; /* 상단 내비바 아래 회색 줄(그림자) */
}

#title {
    color: aliceblue;
    float: left;
    padding: 0.5em 0.75em;
}

#footer {
    max-width: 1920px;
    width: 100%;
    color: aliceblue;
    clear: both; /* 푸터 보다 위에 float 이 있으므로 독립된 푸터 영역은 클리어 */
    overflow: auto; /* 영역과 간격 조절이 제대로 안될 경우에는 오버플로우 */
    margin: 0 auto;
    background-color: #3B4443;
    text-align: center;
}


/* Structure */
/* 여기서 부터 데스크탑과 모바일 사이즈 따로 스타일이 적용됨. 
어떤 부분이 다르게 적용되는지 유심히 살펴볼 것
데스크탑과 모바일 사이즈에서 겹치는 아이디와 클래스를 유심히 살펴 볼 것*/

/* Desktop 사이즈 */
/* 너비가 481픽셀 이상일 때 */
@media screen and (min-width:481px) {
    #nav {
        width: 100%;
        height: 60px; /* 상단 네비게이션 바 높이 60픽셀 */
    }
    
    #header {
        width: 100%;
        height: 500px;
        background: url(images/header.jpg) no-repeat; /* 배경이미지, 반복 안함 */
        background-position: center center; /* 배경이미지 중앙 정렬 */
        background-size: cover; /* 배경이미지 크기 조절 */
        border-bottom: 1px solid #A9A9A9; /* 헤더이미지 아래 회색 줄(그림자) */
    }
    
    #profile {
        width: 160px;
        height: 160px;
        position: absolute; /* 프로필 사진 영역은 헤더 사진 영역과 겹치기 때문에 포지션 앱솔루트 */
        top: 480px; /* 상단에서 480픽셀 아래로 */
        margin-left: auto; /* 가로 가운데 정렬 */
        margin-right: auto; /* 가로 가운데 정렬 */
        right: 0; /* 가로 가운데 정렬 */
        left: 0; /* 가로 가운데 정렬 */
        z-index: 100; /* 프로필 레이어 위로 */
    }
    
    #content {
        max-width: 1280px;
        min-width: 1080px;
        margin: 0 auto;
    }
    
    #introduce {
        margin: 0 0 7em 0;
        overflow:auto; /* introduce 오버플로우. float 으로 없어진 height값 상쇄 */
    }
    
    #intro-image {
        width: 240px;
        height: 240px;
        margin: 0 0 0 4em;
        float: left;
    }
    
    #intro-text {
        width: 40%;
        padding: 0 0 0 0;
        margin: 0 5% 0 0;
        float: right;
    }
    
    #spec {
        width: 200px;
        margin: 0 0 0 8%;
        float: left;
    }
    
    #article {
        overflow: auto; /* article 오버플로우. float 으로 없어진 height값 상쇄 */
        clear: both; /* 클리어 */
        margin: 0 0 8em 0;
    }
    
    #left {
        float: left;
    }
    
    #right {
        float: right;
    }
    
    #middle {
        float: left;
    }
    
    .column {
        width: 25%;
        margin: 0 4.166666%;
    }
    
    .icon {
        width: 50px;
        margin: 2em auto;
        text-align: center;
    }
    
    #footer {
        height: 280px;
    }
    
    .social {
        width: 800px;
        margin: 4em auto;
    }
    
    .headline {
        font-size: 3em;
        font-weight: 400;
        padding: 2em;
    }
}

/* Smart Phone 사이즈 */
/* 모바일 사이지의 경우 컬럼이 하나이기 때문에 데스크탑 일때보다 스타일이 비교적 단순하다 */
/* 너비가 480픽셀 이하일 때 */
@media screen and (max-width:480px) {
    h1 {
        font-size: 2em; /* 모바일 일때 헤드라인1 폰트 크기 작게 */
    }
    
    p {
        padding: 1em 1.5em;
    }
    
    h2{
        font-size: 1.2em; /* 모바일 일때 헤드라인2 폰트 크기 작게 */
        padding: 0.25em;
    }
    
    #nav {
        width: 100%;
        height: 30px; /* 상단 네비게이션바 높이 30픽셀. 데스크탑일때의 반 */
    }
    
    #nav h2 {
        font-size: 1em; /* 모바일 타이틀 폰트 사이즈 작게 */
        padding: 0.2em 0.5em;
    }
    
    #nav ol li {
        width: 70px; /* 모바일 네비게이션 너비 작게 */
        font-size: 0.8em;
        text-align: center;
        padding: 0.35em;
    }
    
    #header {
        width: 100%;
        height: 200px; /* 모바일 헤더 영역 높이 작게 */
        background: url(images/header.jpg) no-repeat; /* 배경이미지, 반복 안함 */
        background-position: center center; /* 배경이미지 중앙 정렬 */
        background-size: cover; /* 배경이미지 크기 조절 */
        border-bottom: 1px solid #A9A9A9;
    }
    
    #profile {
        width: 80px; /* 모바일 프로필 데스크탑 사이즈의 반 */
        height: 80px; /* 모바일 프로필 데스크탑 사이즈의 반 */
        position: absolute;
        top: 190px; /* 상단에서 480픽셀 아래로 */
        margin-left: auto; /* 가로 가운데 정렬 */
        margin-right: auto; /* 가로 가운데 정렬 */
        right: 0; /* 가로 가운데 정렬 */
        left: 0; /* 가로 가운데 정렬 */
        z-index: 100; /* 레이어 위로 */
    }
    
    #content {
        margin: 0 0 5em 0;
    }
    
    #intro-image {
        width: 200px; /* 모바일 인트로 이미지 데스크탑 보다 작게 */
        margin: 0 auto;
    }
    
    #intro-text {
        display: none;
    }
    
    #spec {
        text-align: center;
        margin: 2em 0;
    }
    
    .column {
        width: 90%; /* 모바일 사이즈일때 전체 너비의 90% 너비 (따라서 원 컬럼) */
        margin: 1.5em auto;
    }
    
    .icon {
        width: 40px; /* 모바일일때 아이콘 사이즈 작게 */
        margin: 1em auto;
    }
    
    .social {
        width: 80%; /* 모바일 일때 소셜 아이콘 이미지 사이즈 전체 너비의 80% */
        margin: 1em auto;
    }
}